Repository kevinpapst/TablerBundle, pull requests merged in 2025-05, with the labels that each got.

#220 Use non-deprecated Extension class
  src/DependencyInjection/TablerExtension.php
Labels: Status: Reviewed

#219 Translations update from Hosted Weblate
  translations/TablerBundle.he.xlf
Labels: Translation

#222 Translations update from Hosted Weblate
  translations/TablerBundle.ru.xlf
Labels: Translation

#221 Add `attr` on accordion & item
  docs/components-accordion.md
  templates/components/accordion.html.twig
Labels: Status: Needs Review, Feature
